---
layout: about
title: Anatomia
permalink: /anatomia-dos-abdominais.html
---

<div class="container mtb">
    <div class="row">
        <div class="col-lg-6">
            <img class="img-responsive" src="{{ "/assets/img/anatomia.gif" | prepend: site.baseurl }}" alt="Anatomia">
        </div>
        <div class="col-lg-6">
            <h4>Anatomia dos Abdominais</h4>
            <p>Em relação aos abdominais, e como podemos ver nesta figura. Temos o músculo reto do abdómen que ocupa grande parte da parte anterior do tronco.</p>

            <p>O Músculo grande recto do abdómen (Musculus rectus abdominis) insere-se no corpo do púbis, entre o ângulo e a espinha. As suas fibras dirigem-se depois verticalmente para cima e, ao chegarem ao tórax, dividem-se em três digitações terminais.</p>

            <p>A externa insere-se na 5ª cartilagem costal, a média na 6ª cartilagem costal e a interna na 7ª cartilagem costal.</p>

            <p>O grande recto apresenta três ou quatro intersecções tendinosas (Intersectiones tendinae). A linha que separa as duas metades, a direita e a esquerda, tem o nome de linha alba.</p>

            <p>Na zona lateral temos o músculo oblíquo externo do abdómen.</p>

            <ul>
            {% for post in site.categories.anatomia %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
            </ul>

            {% include disqus.html %}

        </div>
    </div><!--/row -->
</div><!--/container -->