---
layout: index
title: Home
permalink: /
---

<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-star-o"></i>
                <h4>Exclusivo Abdominais</h4>
                <p>O abdominais.com é um site exclusivamente dedicado a abdominais, o que faz com que a informação aqui colocada seja de certa forma mais específica a este grupo muscular.</p>
                <p>Contudo, o corpo humando não é feito apartir de partes isoladas pelo que é necessário também entender todo o mecanismo para se perceber como é que os abdominais de facto funcionam.</p>
                <p><br/><a href="/blog/" class="btn btn-theme">Mais Info</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-signal"></i>
                <h4>Exercícios</h4>
                <p>Os abdominais são um grupo muscular que tal como qualquer outro requer trabalho para se desenvolver.</p>
                <p>Contudo para se atingir uma boa definição muscular não é só necessário fazer trabalho de carga, tão ou mais importante são os exercícios de cardio e a alimentação.</p>
                <p><br/><a href="/exercicios-abdominais.html" class="btn btn-theme">Mais Info</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-male"></i>
                <h4>Anatomia</h4>
                <p>A anatomia é muito importante e como tal o que deverá saber à partida é que os abdominais são constituídos por quatro grupos musculares.</p>
                <p>Para se obterem abdominais bem constituídos e definidos temos necessariamente de trabalhar todos estes músculos.</p>
                <p><br/><a href="/anatomia-dos-abdominais.html" class="btn btn-theme">Mais Info</a></p>
            </div>		 				
        </div>
    </div><!--/container -->
</div><!--/service -->

{% comment %}
    {% include portfolio.html title="LATEST WORKS" limit=10 %}
{% endcomment %}

<div class="container mtb">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <h4>Acerca do abdominais.com</h4>
            <p>Bem-vindo ao abdominais.com, eu sou o Fisioterapeuta Luís Ramalho e aqui vamos dar-lhe a conhecer tudo o que precisa de saber em relação aos músculos abdominais. Desde informação essencial e crítica para se atingirem abdominais definidos, passando por demonstrar como executar os mais variados exercícios abdominais correctamente e ajuda personalizada nos nossos comentários.</p>

            
        </div>

        <div class="col-lg-3">
            <h4>Perguntas Frequentes</h4>
            <div class="hline"></div>
            {% for post in site.categories['question'] limit:5 %} 
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
            {% endfor %}
        </div>

        <div class="col-lg-3">
            <h4>Últimos Posts</h4>
            <div class="hline"></div>
            {% for post in site.categories['blog'] limit:5 %} 
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
            {% endfor %} 
        </div>

    </div><!--/row -->
</div><!--/container -->