<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Bem-vindo ao abdominais.com</h3>
                <h1>Apenas os melhores exercícios para trabalhar os seus abdominais.</h1>
                <!-- <h5>Informação essencial e crítica para se atingirem abdominais definidos.</h5> -->
                <!-- <h5>Demonstração da correta execução dos exercícios.</h5> -->
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/abdominais.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->